extends layout

block content
  
  div#header
    p &#8203 
    div#headerTitle
      img#logo(src="images/logo.svg", alt="", fill="#000000")
      h3#headerSubtext Full Stack Developer at Cake Agency
    div#headerArrow
      p Click below to find out more
      a(href="#aboutMe") 
        img(src="/images/icons/down-arrow.svg", alt="")
  div#aboutMe
    h1 Welcome!
    p 
      | After six years teaching Mathematics to secondary school children I decided to delve into a long standing interest of mine - development. After conquering online courses and escaping the nine circles of tutorial hell, I chose to leave teaching behind (mostly!) and start a new career as a developer.
      br
      br
      | Four years ago I began my quest, working through HTML and CSS to JavaScript, and into some of it's frameworks, including React, and on to creating full-stack apps using the MERN stack with Node.
      br
      br
      | In January 2023 I began my first role outside of teaching as a Junior Web Developer at LiveBuzz, a large events company that creates registration websites for corporate events. Then sixteen months later I began working for Cake Agency, an eCommerce agency based in Birmingham, and have grown there as a Full Stack Developer.
      br
      br
      | Try out some of the apps I've made below!
    p &#8203
    div#links
      a(href="https://www.linkedin.com/in/oliver-crawford-240177241/").link
        img.linksIcon(src="/images/icons/linkedin.svg", alt="" target="_blank")
      a(href="https://github.com/Metrollied").link
        img.linksIcon(src="/images/icons/github.svg", alt="" target="_blank")
      a(href="OLIVER_CRAWFORD_CV.pdf" target="_blank").link
        img.linksIcon(src="/images/icons/cv.svg", alt="")
      a(href="https://www.hyperiondev.com/portfolio/127901/").link
        img.linksIcon(src="/images/icons/code.svg", alt="" target="_blank")
    
  div#projectsSection
    for project in projects
      div.projectDiv
        a.projectTitle(href=project.linkurl) !{project.title}
        a.projectLink(href=project.linkurl)
          img.projectImg(src=project.imageurl, alt="")
        p.projectDescription !{project.description}
          p Skills used:
          div.skillsDiv
            for skill in project.skills
              div.skillDiv
                img.skillIcon(src=skill.icon, alt="")
                p.skillTitle !{skill.title}
  div#contactSection
    h1 Want to know more? Get in touch! 
    a(href="OLIVER_CRAWFORD_CV.pdf" target="_blank") My CV
    a(href="https://github.com/Metrollied" target="_blank") GitHub
    a(href="https://www.hyperiondev.com/portfolio/127901/" target="_blank") HyperionDev Profile
    a(href="mailto:olliecrawford42@gmail.com") Email me

  div#footer
    p © Oliver Crawford 2025